body
{
    background-color: coral;
    background-image:  url("background.jfif");
    background-size:cover;
    font-family: cursive;
}

.person_image
{
    height: 100px;
    width: 100px;
}

.nav
{
    background-color:lightgreen;
    border: 1px solid black;
    height: 34px;
}
.nav a
{
    text-decoration: none;
    color: yellow;
    margin: 5px;
    padding: 2px;
    background-color:blue;
    border:1px groove black;
    border-radius: 8px;
    float: left;
}

.reading-box
{
    border-left: 5px solid 	orangen;
    background-color:lemonchiffon;
}
