body
{
    background-color: coral;
}

.person_image
{
    height: 100px;
    width: 100px;
}

.nav
{
    background-color:lightgreen;
}
.nav a
{
    
    margin: 5px;
    background-color:white;
    border:1px, groove, black;
}