body
{
    background-color: powderblue;
    background-size:cover;
    font-family: cursive;
}

.account_form *
{
    display: block;
}

.person_image
{
    height: 100px;
    width: 100px;
    transition:width 2s,height 2s;
    
}

.person_image:hover
{
    width: 300px;
    height: 300px;
}

.nav
{
    background-color:lightgreen;
    border: 1px solid black;
    height: 40px;
}
.nav a
{
    text-decoration: none;
    color: yellow;
    margin: 5px;
    padding: 2px;
    background-color:blue;
    border:1px groove black;
    border-radius: 8px;
    float: left;
    transition:width 1s,height 1s;
}

.nav a:hover
{
    width: 60px;
    height: 30px; 
}

.reading-box
{
    border-left: 5px solid orange;
    background-color:lemonchiffon;
}

.lab-box
{
    border-left: 5px solid darkslategray;
    background-color:darkgray;   
}

.PREP .day
{
    border-left: 5px solid darkgreen;
    background-color: mediumseagreen;
}

.PREP .reading-box
{
    border-left: 5px solid darkgreen;
}

.CURRENT .day
{
    border-left: 5px solid darkred;
    background-color: indianred;
}

.CURRENT .reading-box
{
    border-left: 5px solid darkred;
}


.COMPLETED .day
{
    border-left: 5px solid 	indigo;
    background-color: mediumpurple;
}

.COMPLETED .reading-box
{
    border-left: 5px solid 	indigo;
}

.prep-box
{
    border-left: 5px solid 	saddlebrown;
    background-color: sandybrown;    
}

.assignment-label
{
    font-family:Impact, Charcoal, sans-serif;
}
